@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video, input  {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family:"微软雅黑";
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 
a { text-decoration:none; color:#464f5c;}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}
.floatl { float:left; display:inline;}
.floatr { float:right; display:inline;}
.clearfix { zoom:1;}
.clearfix:after { content:"."; overflow:hidden; clear:both; visibility:hidden; display:block; height:0;}
html { height:100%;}
body { font-family: "微软雅黑"; font-style:normal; height:100%; font-size:100%; width:100%; overflow-x:hidden; background:#fff;}
html { height:100%;}
body { font-family: "微软雅黑"; font-style:normal; height:100%; font-size:100%; width:100%; overflow-x:hidden; background:#fff;}
form { height:100%;}
.box { width:100%; position:relative; height:100%; overflow-x:hidden;  margin:0 auto; background: #87bcde;}

.container { width:1200px; margin:0 auto;  }
#header { width: 100%; height: 48px; background: #fff; border-top: 2px solid #fa7d3c; box-shadow: 0 0 1px 0px rgba(0,0,0,0.15); }
#header .logo { float: left; height: 48px; line-height: 48px; width: 190px; }
#header .logo img { display: block; margin: 0 auto; padding-top: 5px; }
#header .member { width: 90px; padding: 0 5px; height: 48px; line-height: 48px; float: right; position: relative; cursor: pointer; 
background: url(../images/arrow-down-b.png) no-repeat 85% center; background-size: 15px;} 

#header ul { position: absolute; top: 48px; left: 0px; background: #fbf7e1; width: 100px; height: 110px; border:solid 1px #999;
 border-top:none; padding-top: 10px; display: none; }
#header ul li { height: 25px; line-height: 25px; text-indent: 20px; }
#header ul li a { color: #333; display: block; background: url(../images/noknohover.png) no-repeat left center; background-size: 15px;  }
#header ul li a:hover { background: url(../images/nokno.png) no-repeat left center #fc0; background-size: 15px; }


#header .login { float: right; width: 50px; height: 48px; line-height: 48px; cursor: pointer; }

#login { width: 350px; height: 250px; border: solid 1px #ccc; background: #fff; position: absolute; display: none;  }
#login  h2 { width: 100%; height: 40px; line-height: 40px; font-size: 14px; letter-spacing: 1px; text-align: center; color: #666; background: #eee; margin-bottom: 20px; }
#login .close { float: right; padding: 0 10px 0 0; cursor: pointer; font-size: 18px; }
#login div.user,#login div.pass { font-size: 14px; color: #666; padding:5px 0; text-align: center; }
#login input.text { width: 200px; height: 25px; border: solid 1px #ccc; background: #fff; font-size: 14px;  }
#login .button { padding: 20px 0; text-align: center; } 
#login input.submit { width: 107px; height: 30px;  color:#fff; background: green; border: none; text-align: center; cursor: pointer; border-radius: 5px; }
#login .other { text-align: right; padding: 15px 10px; color: #666; }
#login .other a { color: #666; }
#login .other a:hover {text-decoration: underline;}