@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video, input  {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family:"微软雅黑";
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 
a { text-decoration:none; color:#464f5c;}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}
.floatl { float:left; display:inline;}
.floatr { float:right; display:inline;}
.clearfix { zoom:1;}
.clearfix:after { content:"."; overflow:hidden; clear:both; visibility:hidden; display:block; height:0;}
html { height:100%;}
body { font-family: "微软雅黑"; font-style:normal; height:100%; font-size:100%; width:100%; overflow-x:hidden; background:#fff;}
html { height:100%;}
body { font-family: "微软雅黑"; font-style:normal; height:100%; font-size:100%; width:100%; overflow-x:hidden; background: #87bcde;}
form { height:100%;}
/*.box { width:100%; position:relative; height:100%; overflow-x:hidden;  margin:0 auto; background: #87bcde;}*/

.container { width:1200px; margin:0 auto;  }
#header { width: 100%; height: 48px; background: #fff; border-top: 2px solid #fa7d3c; box-shadow: 0 0 1px 0px rgba(0,0,0,0.15); }
#header .logo { float: left; height: 48px; line-height: 48px; width: 190px; }
#header .logo img { display: block; margin: 0 auto; padding-top: 5px; }
#header .member { width: 90px; padding: 0 5px; height: 48px; line-height: 48px; float: right; position: relative; cursor: pointer; 
background: url(../images/arrow-down-b.png) no-repeat 85% center; background-size: 15px;} 

#header ul { position: absolute; top: 48px; left: 0px; background: #fbf7e1; width: 100px; height: 0; border:solid 1px #999;
 border-top:none; padding-top: 10px; display: none; opacity: 0; filter:alpha(opacity=0); overflow: hidden; }
#header ul li { height: 25px; line-height: 25px; text-indent: 20px; }
#header ul li a { color: #333; display: block; background: url(../images/noknohover.png) no-repeat left center; background-size: 15px;  }
#header ul li a:hover { background: url(../images/nokno.png) no-repeat left center #fc0; background-size: 15px; }


#screen { position: absolute; top: 0; left: 0; background: #000; z-index: 9998; opacity: 0; filter: alpha(opacity=0); display: none; }
#header .login { float: right; width: 50px; height: 48px; line-height: 48px; cursor: pointer;}
#header .reg { float: right; width: 50px; height: 48px; line-height: 48px; cursor: pointer;}

#login { width: 350px; height: 250px; border: solid 1px #ccc; background: #fff; position: absolute; display: none; z-index: 9999;   }
#login  h2 { width: 100%; height: 40px; line-height: 40px; font-size: 14px; letter-spacing: 1px; text-align: center; color: #666; background: #eee; margin-bottom: 20px; cursor: move; }
#login .close { float: right; padding: 0 10px 0 0; cursor: pointer; font-size: 18px; }
#login div.user,#login div.pass { font-size: 14px; color: #666; padding:5px 0; text-align: center; }
#login input.text { width: 200px; height: 25px; border: solid 1px #ccc; background: #fff; font-size: 14px;  }
#login .button { padding: 20px 0; text-align: center; } 
#login input.submit { width: 107px; height: 30px;  color:#fff; background: green; border: none; text-align: center; cursor: pointer; border-radius: 5px; }
#login .other { text-align: right; padding: 15px 10px; color: #666; }
#login .other a { color: #666; }
#login .other a:hover {text-decoration: underline;}

#reg { width: 600px; height: 550px; border: solid 1px #ccc; background: #fff; position: absolute; display: none; z-index: 9999;   }
#reg  h2 { width: 100%; height: 40px; line-height: 40px; font-size: 14px; letter-spacing: 1px; text-align: center; color: #666; background: #eee; margin-bottom: 20px; cursor: move; }
#reg .close { float: right; padding: 0 10px 0 0; cursor: pointer; font-size: 18px; }
#reg dl { margin: 20px; padding: 0 0 20px 0; font-size:14px; color: #666; padding: 0 0 0 10px; position: relative; }
#reg dd { height: 30px; padding: 5px 0; }
#reg input.text {}
#reg input,#reg select { width: 202px; height: 25px; border:solid 1px #ccc; background: #fff; font-size:14px; color: #666;  }
#reg select { width: 202px; }
#reg .birthday select { width: 70px; }
#reg textarea { border:solid 1px #ccc; width: 306px; height: 100px; background: #fff;  }
#reg input.submit { width: 143px; height: 35px; background: green; border:none; cursor: pointer; margin:0 auto ; border-radius:10px; color: #fff; font-size:18px; line-height: 35px; }
#reg span.info,#reg span.error,#reg span.succ { display:block; font-size: 12px; color: #333; width: 170px; height: 32px; line-height: 32px; border:solid 1px #ccc; position: absolute; padding: 0 0 0 30px; letter-spacing: 1px; }
#reg span.error { color: red; border:solid 1px #c00; background: rgb(241, 185, 185); }
#reg span.succ { line-height: 14px; padding: 0 0 0 20px; border: none; color: green; }
#reg span.info_user { height: 43px; line-height: 18px; padding-top: 7px; top: 3px; left: 295px; }
#reg span.error_user { top: 3px; left: 295px; }
#reg span.succ_user { top: 12px; left: 295px; }
#reg span.info,#reg span.error,#reg span.succ { display: none; }
#reg span.error_ques { top: 123px; left: 295px;}
#reg span.error_birthday { top: 241px; left: 350px;}

#reg span.info_pass { width: 244px; height: 102px; padding: 4px 0 0 16px; top: 5px; left: 295px; border:solid 1px #ccc; background: #fff; letter-spacing: 0;  }
#reg span.info_pass p { height: 25px; line-height: 25px; color: #666; }
#reg span.info_pass strong.s { color: #ccc; }
#reg span.error_pass { top: 43px; left: 295px; }
#reg span.succ_pass { top: 52px; left: 295px; }
#reg span.info_notpass { top: 83px; left: 295px; }
#reg span.error_notpass { top: 83px; left: 295px; }
#reg span.succ_notpass { top: 92px; left: 295px; }
#reg span.info_ans { top: 163px; left: 295px; }
#reg span.error_ans { top: 163px; left: 295px; }
#reg span.succ_ans { top: 172px; left: 295px; }
#reg span.info_email { top: 203px; left: 295px; }
#reg span.error_email { top: 203px; left: 295px; }
#reg span.succ_email { top: 212px; left: 295px; }
#reg ul.all_email { width: 180px; height: 130px; background: #fff; border:solid 1px #ccc; padding: 5px 10px; position: absolute; top: 233px; left: 87px; display: none; }
#reg ul.all_email li { height: 25px; line-height: 25px; border-bottom: 1px solid #e5edf2; padding: 0 5px; cursor: pointer; }
#reg dd.ps { padding: 0 0 0 300px; }
#reg dd.ps strong.num { padding: 0 2px; }
#reg dd.ps .clear { color: #06f; cursor: pointer; }

#share { width:210px;height:315px;border:solid 1px #ccc; position: absolute; top: 0; left: -211px; background: #fff; }
#share h2 { height: 30px; line-height: 30px; background: #eee; font-size: 14px; color: #666; text-indent: 10px; }
#share ul { padding: 3px 0 2px 5px; height: 254px; }
#share ul li { width: 96px; height: 28px; padding: 2px; float: left; font-size: 12px; }
#share ul li a { display: block; width: 95px; height: 26px; line-height: 26px; text-indent: 30px; background-image: url(../images/icons_0_16.png); background-repeat: no-repeat; color: #666; }
#share ul li a.a { background-position: 5px 5px; }
#share ul li a.b { background-position: 5px -47px; }
#share ul li a.c { background-position: 5px -99px; }
#share ul li a.d { background-position: 5px -151px; }
#share ul li a.e { background-position: 5px -203px; }
#share ul li a.f { background-position: 5px -255px; }
#share ul li a.g { background-position: 5px -307px; }
#share ul li a.h { background-position: 5px -359px; }
#share ul li a.i { background-position: 5px -411px; }
#share ul li a.j { background-position: 5px -463px; }
#share ul li a.k { background-position: 5px -515px; }
#share ul li a.l { background-position: 5px -567px; }
#share ul li a.m { background-position: 5px -619px; }
#share ul li a.n { background-position: 5px -671px; }
#share ul li a.o { background-position: 5px -723px; }
#share ul li a.p { background-position: 5px 5px; }
#share ul li a:hover { opacity: 0.7; filter:alpha(opacity=70); background-color: #f5f5f5; color: #06f;}
#share .share_footer { height: 26px; background: #eee; position: relative; font-size: 12px; }
#share .share_footer a { position: absolute; top: 7px; left: 130px; color: #666; padding: 0 0 0 20px; 
 background: #eee url(../images/icons_0_16.png) no-repeat 0 0px; }
#share .share_footer a:hover { color: #06f; opacity: 0.7; filter:alpha(opacity=70); }
#share .share_footer span { display: block; width: 24px; height: 88px; position: absolute; top: -230px; left: 210px; cursor: pointer;
background: url(../images/share.gif) no-repeat 0 0; }


#nav { width: 465px; height: 52px; background: #eee; margin:50px auto 0; position: relative; cursor: pointer; border-radius: 10px; }
#nav ul { height: 52px; cursor: pointer; }
#nav ul li { float: left; width:85px; height: 52px; line-height: 52px; cursor: pointer; text-align: center; font-weight: bold; }
#nav ul.black { position: absolute; left: 20px; z-index: 2; color: #333; }
#nav ul.white { width: 425px; position: absolute; left: 0; top: -11px; z-index: 3; color: #fff; }
#nav ul.about { z-index: 4; position: absolute; left: 20px; width: 425px; /*处理IEbug*/ background: red; filter: alpha(opacity=0); opacity: 0; }
#nav .nav_bg { display: block; width: 85px; height: 30px; background: #333; border-radius: 20px; position: absolute;
left: 20px; top: 11px; z-index: 3; overflow: hidden; }

#main { width: 900px; margin: 50px auto; }
#sidebar { width:250px; height:500px; float: left; }
#sidebar h2 { width: 248px; height: 30px; line-height: 30px; text-indent: 10px; font-size: 14px;
border:solid 1px #ccc; border-bottom:none; background: #eee; cursor: pointer; }
#sidebar ul { height: 150px; border: 1px #ccc solid; margin: 0 0 10px 0; overflow: hidden; background: #eee; opacity: 1; filter:alpha(opacity=100); }
#sidebar ul li { height: 30px; line-height: 30px; text-indent: 10px; font-size: 12px; border-bottom: dashed 1px #ccc; }
#sidebar ul li a { text-decoration: none; color: #333; }
#index { width: 630px; height: 570px; background: #eee; float: right; }
#banner { width: 900px; height: 150px; margin: 10px 0; float: left; position: relative; overflow: hidden; }
#banner img { position: absolute; display: block; top: 0; left: 0; z-index: 1; }
#banner ul { position: absolute; top: 128px; left: 420px; z-index: 4; }
#banner ul li { float: left; padding: 0 5px; color: #999; cursor: pointer; font-size: 16px; }
#banner span { display: block; width: 900px; height: 25px; background: #333; position: absolute; top: 125px; left: 3; opacity: 0.3; filter:alpha(opacity=30); z-index: 3; }
#banner strong { position: absolute; bottom: 0px; left: 10px;color: #fff; z-index: 4; line-height: 25px; display: block; height: 25px; }

#photo { width: 900px; float: left; }
#photo dl { width: 225px; height: 270px; float: left; margin: 5px 0 15px; }
#photo dt { width: 200px; height: 250px; background: #eee; margin: 0 auto; }
#photo dt img { display: block; width: 200px; height:250px; cursor: pointer; }
#photo dd { height: 25px; line-height: 25px; text-align: center; }